/* general⁄ */
body{
    font-family:sans-serif;
}
/* hero img */
#start img{
    width: 200px;
}
/* portfolio */
#portfolio img{
    width: 100%;
    border-radius: 5%;
}
/* footer */
#find_us i{
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 2rem;
    margin: 0 .3rem;
}
/* utility */
.fs_sm{
    font-size: .8rem;
}
#strong_selector hr{
    width: 9rem;
    height: 3px;
    opacity: 1;
}
/* color */
#start,#about,#contact .btn{
    background-color: #1ABC9C;
}

header,#portfolio hr,#contact hr,#copy{
    background-color:#2C3E50 ;
}
#portfolio .fa-star,#contact .fa-star{
    color:#2C3E50 ;
}
::placeholder{
 color: #334455;
}
#find_us{
    background-color: #3A546D;
}
.water_green{
    color:#1ABC9C ;
}
