/* general⁄ */
body{
    font-family:sans-serif;
}
/* utility */
.fs_sm{
    font-size: .8rem;
}
/* color */
header{
    background-color: #2C3E50;
}
.first_part,.third_part{
    background-color: #1ABC9C;
}

footer{
    background-color:#2C3E50 ;
}
